html{
  background-color: whitesmoke;
}
body {
  text-align: center;
  height: 100%;
}

.box {
  width: 80%; 
  height: 100%; 
  margin: 5%;
  padding: 5%;
  border-top-style: solid;
  border-bottom-style: solid; 
  border-color: black;
  border-width: 5px;
  align-content: center;
  background-color: whitesmoke;
}
.p1 {
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  font-size: large;
}

 h1 {
  font-family: sans-serif;
 }
 h3 {
  font-family: sans-serif;
  word-spacing: .4em;
 }

main {
  font-family: Georgia, Times, 'Times New Roman', serif;
  text-align: left;
  width: 95%; 
  height: 100%; 
  margin: 2%;
  padding: 30px 0;
  border-top-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: whitesmoke;
}

.p2 {
  font-size: 1.2em;
  line-height: 30px;
  padding: 20px 0;
  width: 60%;
  border-bottom-style: solid;
  border-color: black;
  border-width: 1px;
}

img {
  width: 25%;
  height: auto;
  float: right;
  border-width: 3px; 
  border-style: ridge;
  border-color:  black;
  padding: 5px;
}

a, a:active, a:visited{
  color: black;
}

footer {
  font-family: sans-serif;
  text-align: center;
}

.p3 {
  font-weight: bold;
  font-size: large;
}